

.registration-page h1 {
    text-align: center;
    text-transform: uppercase;
    border-top: thin solid #ddd;
    border-bottom: thin solid #ddd;
    padding: 20px 0;
}

.input-group.input-group-unstyled input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
  }
.input-group-unstyled .input-group-addon {
    border-radius: 4px;
    border: 0px;
    background-color: transparent;
  }

.thumbnail p, .thumbnail h4 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

.validation {
    color: #d9534f 
}