<h2>Add New Grocery</h2>
<div> 
        <form  name="ctrl.addForm" ng-submit="ctrl.addGrocery()">
                    
                    <div class="input-group">
                            
                        <div class="col-lg-9 col-md-9 col-sm-9">
                                <input type="text" name="brand" id="addbrand" class="form-control" ng-model="ctrl.currRecord.brand" placeholder="Brand Name"/>
                                <input type="text" name="name" id="addname" class="form-control" ng-model="ctrl.currRecord.name" placeholder="Product Name"/>   
                                <input type="text" name="upc" id="addupc" class="form-control" ng-model="ctrl.currRecord.upc12" placeholder="UPC12 Code" ng-pattern="/\d{12}/" required/>
                               
                                <div class="validation" data-ng-show="ctrl.addForm.addupc.$touched || ctrl.addupc.$submitted">
                                <div data-ng-show="ctrl.addForm.addupc.$error.pattern">
                                        <span class="glyphicon glyphicon-alert"></span> UPC must be 12 numberic digits only
                                </div>
                                </div>
                        </div>
                            
                            <hr>
                            <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Save New Grocery</button>
                            <a ui-sref="home"> <button type="button" class="btn btn-danger"> Cancel </button> </a>
                        </div>
                        <br>     
                    </div>
             </form>
    </div>
           