<h2>Edit Grocery</h2>
<div> 
        <form  name="ctrl.editForm" ng-submit="ctrl.saveUpdate()">
                    <div class="input-group">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                                <input type="text" name="brand" id="editBrand" class="form-control" ng-model="ctrl.currRecord.brand" placeholder="Brand Name"/>
                               <input type="text" name="name" id="editName" class="form-control" ng-model="ctrl.currRecord.name" placeholder="Product Name"/>   
                              <input type="text" name="up12" id="editUpc12" class="form-control" ng-model="ctrl.currRecord.upc12" placeholder="UPC12 Code"/>
                  
                        </div>
                            
                        <hr>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="btn btn-primary" ><i class="fa fa-floppy-o"></i> Update Grocery</button>
                            <a ui-sref="home"> <button type="button" class="btn btn-danger"> Cancel </button> </a>
                        </div>
                        <br>     
                    </div>
    
    </div>
           