<div class="jumbotron">
        
     <form  name="ctrl.searchForm" ng-submit="ctrl.searchGrocery()">
             
             <div class="input-group">
                     
                     <div class="col-lg-9 col-md-9 col-sm-9">
                             <input type="text" name="brand" id="brand" class="form-control" ng-model="ctrl.brand" placeholder="Brand Name"/>
                             
                         <input type="text" name="product" id="product" class="form-control" ng-model="ctrl.product" placeholder="Product Name"/>
                             
                           
                     
                     </div>
                     <div class="col-lg-3 col-md-3 col-sm-3">
                             
                             
                      <select ng-model="ctrl.sortbyBrand" class="form-control">
                                     <option value="" disabled selected>Brand Sort by</option>
                                     <option value="ASC">Ascending (A to Z)</option>
                                     <option value="DESC">Descending (Z to A)</option>
                     </select>
                     <select ng-model="ctrl.sortbyProduct" class="form-control">
                             
                             <option value="" disabled selected>Product Sort by</option>
                             <option value="ASC">Ascending (A to Z)</option>
                             <option value="DESC">Descending (Z to A)</option>
                     </select>
                     </div>
 
                     <br>
                     <div class="col-lg-12 col-md-12 col-sm-12">
                     <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search Grocery</button>
                     <a ui-sref="addItem"> <button type="button" class="btn btn-primary"> Add </button> </a>
                        </div> 
             </div>
 
             <br>
            
           
     </form>
 </div>


 <hr/>


 

 <div class="list" ng-show="ctrl.groceryList">
         <div class="row" ng-show="ctrl.groceryList.length > 0">
             <div class="list header col-lg-12 col-md-12 col-sm-12">
                     <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" items-per-page="ctrl.itemsPerPage" class="pagination-sm" max-size="ctrl.maxsize" boundary-link-numbers="true" rotate="false" ng-change="ctrl.pageChanged()"></ul>
                    <div align='right'>
                         Page {{ctrl.currentPage}} of {{ctrl.itemsPerPage}}  (Total: {{ctrl.totalItems}} Items)
                     </div> 
             </div>
         </div>
         <div class="row">
             <div class="col-sm-6 col-md-4 col-lg-4" ng-repeat="groceryItem in ctrl.groceryList">
                 <h4><a href="#" class="thumbnail" ><img src="http://www.barcodes4.me/barcode/c128a/{{groceryItem.upc12}}.png?IsTextDrawn=1"/></a></h4>
                 <h4><label>UPC: </label> {{groceryItem.upc12}}</h4>
                 <h4><label>Brand Name: </label> {{groceryItem.brand}}</h4>
                 <h4><label>Product Name: </label> {{groceryItem.name}}</h4>
                 <h4>
                     <a ui-sref="editItem({id: groceryItem.id})">
                     <button type="button" ng-click="ctrl.showEditPage(groceryItem.id)" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                     </a>
                     <button type="button" ng-click="ctrl.deleteGrocery(groceryItem.id)" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                 </h4>
             </div>
         </div>
     </div>

 </div>